body{
margin:0;
font-family:Arial;
background:#020b18;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:800px;
}


.login-box{
display:flex;
background:#071426;
border-radius:15px;
overflow:hidden;
box-shadow:0 0 30px #00eaff;
}

.left{
flex:1;
padding:50px;
color:white;
}

.left h2{
margin-bottom:30px;
}

.input-box{
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
background:transparent;
border:none;
border-bottom:2px solid #00eaff;
color:white;
font-size:16px;
outline:none;
}

button{
width:100%;
padding:12px;
background:linear-gradient(90deg,#00eaff,#00bcd4);
border:none;
border-radius:25px;
color:white;
font-size:16px;
cursor:pointer;
margin-top:20px;
}

button:hover{
opacity:0.8;
}

.signup{
margin-top:20px;
font-size:14px;
}

.signup span{
color:#00eaff;
cursor:pointer;
}

.right{
flex:1;
background:linear-gradient(135deg,#00eaff,#0b6b78);
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:30px;
text-align:center;
}